<li><a href="#">Home</a></li>
<li><a href="#">Hotels</a></li>
<li><a href="#">Tours</a></li>
<li><a href="#">Locations</a></li>
<li><a href="#">About us</a></li>
<li><a href="#">Sign up / Sign in</a></li>