
<div class="navbar-wrapper3 navbar-fixed-top2">
  <div class="container">
    <div class="navbar mtnav2">

      <div class="container offset-3">
        <!-- Navigation-->
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand"><%= image_tag 'update/logo.png', alt: 'Yolllan.com', class: 'logo2' %></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav nav2 navlight navbar-nav navbar-right">
            <%= yield %>
          </ul>
        </div>
        <!-- /Navigation-->
      </div>

    </div>
  </div>
</div>