<div class="navbar-wrapper2 navbar-fixed-top">
  <div class="container">
    <div class="navbar mtnav">

      <div class="container offset-3">
        <!-- Navigation-->
        <div class="navbar-header">
          <button data-target=".navbar-collapse" data-toggle="collapse" class="navbar-toggle" type="button">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a href="index.html" class="navbar-brand"><img src="/assets/logo.png" alt="Travel Agency Logo" class="logo"/></a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <%= yield %>
          </ul>
        </div>
        <!-- /Navigation-->
      </div>

    </div>
  </div>
</div>
