<%= content_for :css do %>
    <%= stylesheet_link_tag 'tours.search' %>
<%= end %>

<div class="container breadcrub">
  <div>
    <a class="homebtn left" href="#"></a>

    <div class="left">
      <ul class="bcrumbs">
        <li>/</li>
        <li><a href="#">Activities</a></li>
        <li>/</li>
        <li><a href="#">U.A.E.</a></li>
        <li>/</li>
        <li><a href="#" class="active">Dubai</a></li>
      </ul>
    </div>
    <a class="backbtn right" href="#"></a>
  </div>
  <div class="clearfix"></div>
  <div class="brlines"></div>
</div>

<!-- CONTENT -->
<div class="container">
  <div class="container pagecontainer offset-0">

    <!-- FILTERS -->
    <div class="col-md-3 filters offset-0">


      <!-- TOP TIP -->
      <div class="filtertip">
        <div class="padding20">
          <p class="size13"><b>9</b> Activities found</p>

          <p class="size30 bold"><span class="size13 normal darkblue">from</span> $<span class="countprice"></span>.78
            <span class="size13 normal darkblue">/adult</span></p>

        </div>
        <div class="tip-arrow"></div>
      </div>


      <div class="padding20title"><h3 class="opensans dark">Activities</h3></div>


      <div class="bookfilters hpadding20">


        <!-- HOTELS TAB -->
        <div class="hotelstab2 none">

          <div>
            <span class="opensans size13">Country</span>
            <select class="form-control mySelectBoxClass">
              <option selected="yes">U.A.E.</option>
              <option>U.S.A.</option>
              <option>France</option>
              <option>Germany</option>
              <option>Italy</option>
              <option>...</option>
            </select>
          </div>

          <div class="margtop10">
            <span class="opensans size13">City</span>
            <select class="form-control mySelectBoxClass">
              <option selected="yes">Dubay</option>
              <option>Abu Dhabi</option>
              <option>Sharjah</option>
              <option>Al Ain</option>
              <option>Ajman</option>
              <option>...</option>
            </select>
          </div>

          <div class="margtop10">
            <div class="w50percent">
              <div class="wh90percent textleft">
                <span class="opensans size13">From</span>
                <input type="text" class="form-control mySelectCalendar" id="datepicker" placeholder="mm/dd/yyyy"/>
              </div>
            </div>

            <div class="w50percentlast">
              <div class="wh90percent textleft right">
                <span class="opensans size13">To</span>
                <input type="text" class="form-control mySelectCalendar" id="datepicker2" placeholder="mm/dd/yyyy"/>
              </div>
            </div>
          </div>

          <div class="clearfix pbottom15"></div>


          <button type="submit" class="btn-search3">Search</button>
        </div>
        <!-- END OF HOTELS TAB -->


      </div>
      <!-- END OF BOOK FILTERS -->

      <div class="line2"></div>

      <div class="padding20title"><h3 class="opensans dark">Filter by</h3></div>
      <div class="line2"></div>

      <!-- Price range -->
      <button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse2">
        Price range <span class="collapsearrow"></span>
      </button>

      <div id="collapse2" class="collapse in">
        <div class="padding20">
          <div class="layout-slider wh100percent">
            <span class="cstyle09"><input id="Slider1" type="slider" name="price" value="400;700"/></span>
          </div>
          <script type="text/javascript">
              jQuery("#Slider1").slider({
                  from: 100,
                  to: 1000,
                  step: 5,
                  smooth: true,
                  round: 0,
                  dimension: "&nbsp;$",
                  skin: "round"
              });
          </script>
        </div>
      </div>
      <!-- End of Price range -->

      <div class="line2"></div>

      <!-- Star ratings -->
      <button type="button" class="collapsebtn" data-toggle="collapse" data-target="#collapse1">
        Star rating <span class="collapsearrow"></span>
      </button>

      <div id="collapse1" class="collapse in">
        <div class="hpadding20">
          <div class="checkbox">
            <label>
              <input type="checkbox"><img src="images/filter-rating-5.png" class="imgpos1" alt=""/> 5 Stars
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"><img src="images/filter-rating-4.png" class="imgpos1" alt=""/> 4 Stars
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"><img src="images/filter-rating-3.png" class="imgpos1" alt=""/> 3 Stars
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"><img src="images/filter-rating-2.png" class="imgpos1" alt=""/> 2 Stars
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox"><img src="images/filter-rating-1.png" class="imgpos1" alt=""/> 1 Star
            </label>
          </div>
        </div>
        <div class="clearfix"></div>
      </div>
      <!-- End of Star ratings -->


      <div class="line2"></div>

      <!-- Activities type -->
      <button type="button" class="collapsebtn last" data-toggle="collapse" data-target="#collapse4">
        Type <span class="collapsearrow"></span>
      </button>
      <div id="collapse4" class="collapse in">
        <div class="hpadding20">
          <div class="checkbox">
            <label>
              <input type="checkbox">Special Offers
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Tours and Sightseeing
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Theme Parks
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Ski Offerings
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Tours and Sightseeing
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Overnight Excursions
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Air and Land Adventures
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Water Activities and Cruises
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Attractions
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Restaurants and Nightlife
            </label>
          </div>
          <div class="checkbox">
            <label>
              <input type="checkbox">Ground Transportation
            </label>
          </div>


        </div>
        <div class="clearfix"></div>
      </div>
      <!-- End of Activities type  -->

      <div class="line2"></div>
      <div class="clearfix"></div>
      <br/>
      <br/>
      <br/>


    </div>
    <!-- END OF FILTERS -->

    <!-- LIST CONTENT-->
    <div class="rightcontent col-md-9 offset-0">

      <div class="hpadding20">
        <!-- Top filters -->
        <div class="topsortby">
          <div class="col-md-4 offset-0">

            <div class="left mt7"><b>Sort by:</b></div>

            <div class="right wh70percent">
              <select class="form-control mySelectBoxClass ">
                <option selected>Guest rating</option>
                <option>5 stars</option>
                <option>4 stars</option>
                <option>3 stars</option>
                <option>2 stars</option>
                <option>1 stars</option>
              </select>
            </div>

          </div>
          <div class="col-md-4">
            <div class="w50percent">
              <div class="wh90percent">
                <select class="form-control mySelectBoxClass ">
                  <option selected>Name</option>
                  <option>A to Z</option>
                  <option>Z to A</option>
                </select>
              </div>
            </div>
            <div class="w50percentlast">
              <div class="wh90percent">
                <select class="form-control mySelectBoxClass ">
                  <option selected>Price</option>
                  <option>Ascending</option>
                  <option>Descending</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-4 offset-0">
            <button class="popularbtn left">Most Popular</button>
            <div class="right">
              <button class="gridbtn" onClick="window.open('list2.html','_self');">&nbsp;</button>
              <button class="listbtn active">&nbsp;</button>
              <button class="grid2btn" onClick="window.open('list3.html','_self');">&nbsp;</button>
            </div>
          </div>
        </div>
        <!-- End of topfilters-->
      </div>
      <!-- End of padding -->

      <br/><br/>

      <div class="clearfix"></div>


      <div class="itemscontainer offset-1">

        <div class="hpadding20 center">
          <span class="opensans normal dark size24 textcenter">Find Dubai Activities & Family Fun Things to Do in Dubai</span>
        </div>

        <br/>
        <br/>

        <div class="offset-2">
          <div class="col-md-4 offset-0">
            <div class="listitem2">
              <a href="updates/update1/img/activities/act01.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="updates/update1/img/activities/act01.jpg" alt=""/></a>

              <div class="liover"></div>
              <a class="fav-icon" href="#"></a>
              <a class="book-icon" href="details.html"></a>
            </div>
          </div>
          <div class="col-md-8 offset-0">
            <div class="itemlabel4">
              <div class="labelright">
                <br/><span class="green size18"><b>$36.00</b></span><br/>
                <span class="size11 grey">/person</span><br/><br/><br/>
                <img src="images/filter-rating-5.png" width="60" alt=""/><br/>
                <img src="images/user-rating-5.png" width="60" alt=""/><br/>
                <span class="size11 grey">18 Reviews</span><br/><br/><br/>

                <form action="details.html">
                  <button class="bookbtn mt1" type="submit">Book</button>
                </form>
              </div>
              <div class="labelleft2">
                <span class="size16"><b>4x4 Sunset Desert Safari and Dhow Cruise Dinner</b></span><br/>

                <div class="line4 wh80percent"></div>

                <p class="grey size14 lh6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse
                  placerat enim mauris, eget lobortis nisi egestas et.
                  Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>

              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="offset-2">
          <hr class="featurette-divider3">
        </div>

        <div class="offset-2">
          <div class="col-md-4 offset-0">
            <div class="listitem2">
              <a href="updates/update1/img/activities/act02.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="updates/update1/img/activities/act02.jpg" alt=""/></a>

              <div class="liover"></div>
              <a class="fav-icon" href="#"></a>
              <a class="book-icon" href="details.html"></a>
            </div>
          </div>
          <div class="col-md-8 offset-0">
            <div class="itemlabel4">
              <div class="labelright">
                <br/><span class="green size18"><b>$39.00</b></span><br/>
                <span class="size11 grey">/person</span><br/><br/><br/>
                <img src="images/filter-rating-5.png" width="60" alt=""/><br/>
                <img src="images/user-rating-5.png" width="60" alt=""/><br/>
                <span class="size11 grey">18 Reviews</span><br/><br/><br/>

                <form action="details.html">
                  <button class="bookbtn mt1" type="submit">Book</button>
                </form>
              </div>
              <div class="labelleft2">
                <span class="size16"><b>Aquaventure Waterpark and The Lost Chambers Aquarium</b></span><br/>

                <div class="line4 wh80percent"></div>
                <p class="grey size14 lh6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse
                  placerat enim mauris, eget lobortis nisi egestas et.
                  Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>

              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="offset-2">
          <hr class="featurette-divider3">
        </div>

        <div class="offset-2">
          <div class="col-md-4 offset-0">
            <div class="listitem2">
              <a href="updates/update1/img/activities/act03.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="updates/update1/img/activities/act03.jpg" alt=""/></a>

              <div class="liover"></div>
              <a class="fav-icon" href="#"></a>
              <a class="book-icon" href="details.html"></a>
            </div>
          </div>
          <div class="col-md-8 offset-0">
            <div class="itemlabel4">
              <div class="labelright">
                <br/><span class="green size18"><b>$45.00</b></span><br/>
                <span class="size11 grey">/person</span><br/><br/><br/>
                <img src="images/filter-rating-5.png" width="60" alt=""/><br/>
                <img src="images/user-rating-5.png" width="60" alt=""/><br/>
                <span class="size11 grey">18 Reviews</span><br/><br/><br/>

                <form action="details.html">
                  <button class="bookbtn mt1" type="submit">Book</button>
                </form>
              </div>
              <div class="labelleft2">
                <span class="size16"><b>Yas Waterworld and Ferrari World Abu Dhabi</b></span><br/>

                <div class="line4 wh80percent"></div>
                <p class="grey size14 lh6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse
                  placerat enim mauris, eget lobortis nisi egestas et.
                  Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>

              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="offset-2">
          <hr class="featurette-divider3">
        </div>

        <div class="offset-2">
          <div class="col-md-4 offset-0">
            <div class="listitem2">
              <a href="updates/update1/img/activities/act04.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="updates/update1/img/activities/act04.jpg" alt=""/></a>

              <div class="liover"></div>
              <a class="fav-icon" href="#"></a>
              <a class="book-icon" href="details.html"></a>
            </div>
          </div>
          <div class="col-md-8 offset-0">
            <div class="itemlabel4">
              <div class="labelright">
                <br/><span class="green size18"><b>$49.00</b></span><br/>
                <span class="size11 grey">/person</span><br/><br/><br/>
                <img src="images/filter-rating-5.png" width="60" alt=""/><br/>
                <img src="images/user-rating-5.png" width="60" alt=""/><br/>
                <span class="size11 grey">18 Reviews</span><br/><br/><br/>

                <form action="details.html">
                  <button class="bookbtn mt1" type="submit">Book</button>
                </form>
              </div>
              <div class="labelleft2">
                <span class="size16"><b>Dubai Half-Day City Tour</b></span><br/>

                <div class="line4 wh80percent"></div>
                <p class="grey size14 lh6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse
                  placerat enim mauris, eget lobortis nisi egestas et.
                  Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>

              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="offset-2">
          <hr class="featurette-divider3">
        </div>

        <div class="offset-2">
          <div class="col-md-4 offset-0">
            <div class="listitem2">
              <a href="updates/update1/img/activities/act05.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="updates/update1/img/activities/act05.jpg" alt=""/></a>

              <div class="liover"></div>
              <a class="fav-icon" href="#"></a>
              <a class="book-icon" href="details.html"></a>
            </div>
          </div>
          <div class="col-md-8 offset-0">
            <div class="itemlabel4">
              <div class="labelright">
                <br/><span class="green size18"><b>$49.00</b></span><br/>
                <span class="size11 grey">/person</span><br/><br/><br/>
                <img src="images/filter-rating-5.png" width="60" alt=""/><br/>
                <img src="images/user-rating-5.png" width="60" alt=""/><br/>
                <span class="size11 grey">18 Reviews</span><br/><br/><br/>

                <form action="details.html">
                  <button class="bookbtn mt1" type="submit">Book</button>
                </form>
              </div>
              <div class="labelleft2">
                <span class="size16"><b>Ski Dubai Ski Slope Access</b></span><br/>

                <div class="line4 wh80percent"></div>
                <p class="grey size14 lh6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse
                  placerat enim mauris, eget lobortis nisi egestas et.
                  Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>

              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="offset-2">
          <hr class="featurette-divider3">
        </div>


        <div class="offset-2">
          <div class="col-md-4 offset-0">
            <div class="listitem2">
              <a href="updates/update1/img/activities/act06.jpg" data-footer="A custom footer text" data-title="A random title" data-gallery="multiimages" data-toggle="lightbox"><img src="updates/update1/img/activities/act06.jpg" alt=""/></a>

              <div class="liover"></div>
              <a class="fav-icon" href="#"></a>
              <a class="book-icon" href="details.html"></a>
            </div>
          </div>
          <div class="col-md-8 offset-0">
            <div class="itemlabel4">
              <div class="labelright">
                <br/><span class="green size18"><b>$49.00</b></span><br/>
                <span class="size11 grey">/person</span><br/><br/><br/>
                <img src="images/filter-rating-5.png" width="60" alt=""/><br/>
                <img src="images/user-rating-5.png" width="60" alt=""/><br/>
                <span class="size11 grey">18 Reviews</span><br/><br/><br/>

                <form action="details.html">
                  <button class="bookbtn mt1" type="submit">Book</button>
                </form>
              </div>
              <div class="labelleft2">
                <span class="size16"><b>Dubai Skydiving</b></span><br/>

                <div class="line4 wh80percent"></div>
                <p class="grey size14 lh6">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum nec semper lectus. Suspendisse
                  placerat enim mauris, eget lobortis nisi egestas et.
                  Donec elementum metus et mi aliquam eleifend. Suspendisse volutpat egestas rhoncus.</p><br/>

              </div>
            </div>
          </div>
        </div>

        <div class="clearfix"></div>
        <div class="offset-2">
          <hr class="featurette-divider3">
        </div>


      </div>
      <!-- End of offset1-->

      <div class="hpadding20">

        <ul class="pagination right paddingbtm20">
          <li class="disabled"><a href="#">&laquo;</a></li>
          <li><a href="#">1</a></li>
          <li><a href="#">2</a></li>
          <li><a href="#">3</a></li>
          <li><a href="#">4</a></li>
          <li><a href="#">5</a></li>
          <li><a href="#">&raquo;</a></li>
        </ul>

      </div>

    </div>
    <!-- END OF LIST CONTENT-->


  </div>
  <!-- END OF container-->

</div>
<!-- END OF CONTENT -->

<%= content_for :endjs do %>
<%= javascript_include_tag 'tours.search' %>
<%= end %>
