<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Agency - HTML5 Booking template</title>

  <%= stylesheet_link_tag 'homepage.css', media: 'screen' %>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <%= javascript_include_tag 'html5shiv' %>
  <%= javascript_include_tag 'respond.min' %>
  <![endif]-->

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>

  <!--[if lt IE 7]>
  <%=	stylesheet_link_tag 'font-awesome-ie7', media: 'screen'  %>
  <![endif]-->

  <%= javascript_include_tag 'homepage.js' %>

  <script>
      // http://masonry.desandro.com/masonry.pkgd.js added as external resource

      docReady(function () {

          var container = document.querySelector('.masonry');
          var button = document.querySelector('#toggle-button');
          var msnry = new Masonry(container, {
              columnWidth: 2
          });

          var isActive = true;

          eventie.bind(button, 'click', function () {
              if (isActive) {
                  msnry.destroy();
              } else {
                  msnry = new Masonry(container);
              }
              isActive = !isActive;
          });

      });
      //@ sourceURL=pen.js
  </script>


</head>
<body id="top">

<!-- Top wrapper -->
<%= render :partial => 'partials/menu', :layout => 'partials/layouts/homepage_header_layout' %>
<!-- /Top wrapper -->


<!--
#################################
    - THEMEPUNCH BANNER -
#################################
-->
<div id="dajy" class="fullscreen-container2 mtslideb sliderbg fixed">

  <div class="searchcontainer textcenter" style="">
    <span class="lato size48 slim white ">Where do you want to go?</span><br/>

    <div class=" wh95percent center">
      <%= form_tag({ controller: 'hotels', action: 'search' }, method: 'get') do %>
          <%= text_field_tag(:location, '',class: 'form-control inph left', placeholder: 'ex: Baku') %>
          <%= button_tag("<span class=\"glyphicon glyphicon-search\">".html_safe, class: 'btn btn-default nbtn-search right') %>
      <% end %>
      <!--<input type="text" class="form-control inph left" placeholder="ex: New York"></input>-->
      <!--<button class="btn btn-default btn-search right" type="button"><span class="glyphicon glyphicon-search"></span></button>-->


    </div>

  </div>


  <div class="fullscreenbanner">
    <ul>

      <!-- papercut fade turnoff flyin slideright slideleft slideup slidedown-->

      <!-- FADE -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="300">
        <%= image_tag 'update/slider/slide1.jpg' %>
        <div class="tp-caption scrolleffect sft"
             data-x="center"
             data-y="120"
             data-speed="1000"
             data-start="800"
             data-easing="easeOutExpo">
        </div>
      </li>

      <!-- FADE -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="300">

        <%= image_tag 'update/slider/slide2.jpg' %>
        <div class="tp-caption scrolleffect sft"
             data-x="center"
             data-y="120"
             data-speed="1000"
             data-start="800"
             data-easing="easeOutExpo">

        </div>
      </li>

      <!-- FADE -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="300">

        <%= image_tag 'update/slider/slide3.jpg' %>
        <div class="tp-caption scrolleffect sft"
             data-x="center"
             data-y="120"
             data-speed="1000"
             data-start="800"
             data-easing="easeOutExpo">

        </div>
      </li>

      <!-- FADE -->
      <li data-transition="fade" data-slotamount="1" data-masterspeed="300">

        <%= image_tag 'update/slider/slide4.jpg' %>
        <div class="tp-caption scrolleffect sft"
             data-x="center"
             data-y="120"
             data-speed="1000"
             data-start="800"
             data-easing="easeOutExpo">

        </div>
      </li>


    </ul>
    <div class="tp-bannertimer none"></div>
  </div>
</div>

<!--
##############################
 - ACTIVATE THE BANNER HERE -
##############################
-->
<script type="text/javascript">

    var tpj = jQuery;
    tpj.noConflict();

    tpj(document).ready(function () {

        if (tpj.fn.cssOriginal != undefined)
            tpj.fn.css = tpj.fn.cssOriginal;

        tpj('.fullscreenbanner').revolution(
                {
                    delay: 9000,
                    startwidth: 1170,
                    startheight: 600,

                    onHoverStop: "off",						// Stop Banner Timet at Hover on Slide on/off

                    thumbWidth: 100,							// Thumb With and Height and Amount (only if navigation Tyope set to thumb !)
                    thumbHeight: 50,
                    thumbAmount: 3,

                    hideThumbs: 0,
                    navigationType: "bullet",				// bullet, thumb, none
                    navigationArrows: "solo",				// nexttobullets, solo (old name verticalcentered), none

                    navigationStyle: false,				// round,square,navbar,round-old,square-old,navbar-old, or any from the list in the docu (choose between 50+ different item), custom


                    navigationHAlign: "left",				// Vertical Align top,center,bottom
                    navigationVAlign: "bottom",					// Horizontal Align left,center,right
                    navigationHOffset: 30,
                    navigationVOffset: 30,

                    soloArrowLeftHalign: "left",
                    soloArrowLeftValign: "center",
                    soloArrowLeftHOffset: 20,
                    soloArrowLeftVOffset: 0,

                    soloArrowRightHalign: "right",
                    soloArrowRightValign: "center",
                    soloArrowRightHOffset: 20,
                    soloArrowRightVOffset: 0,

                    touchenabled: "on",						// Enable Swipe Function : on/off


                    stopAtSlide: -1,							// Stop Timer if Slide "x" has been Reached. If stopAfterLoops set to 0, then it stops already in the first Loop at slide X which defined. -1 means do not stop at any slide. stopAfterLoops has no sinn in this case.
                    stopAfterLoops: -1,						// Stop Timer if All slides has been played "x" times. IT will stop at THe slide which is defined via stopAtSlide:x, if set to -1 slide never stop automatic

                    hideCaptionAtLimit: 0,					// It Defines if a caption should be shown under a Screen Resolution ( Basod on The Width of Browser)
                    hideAllCaptionAtLilmit: 0,				// Hide all The Captions if Width of Browser is less then this value
                    hideSliderAtLimit: 0,					// Hide the whole slider, and stop also functions if Width of Browser is less than this value


                    fullWidth: "on",							// Same time only Enable FullScreen of FullWidth !!
                    fullScreen: "off",						// Same time only Enable FullScreen of FullWidth !!


                    shadow: 0								//0 = no Shadow, 1,2,3 = 3 Different Art of Shadows -  (No Shadow in Fullwidth Version !)

                });


    });
</script>


<!-- WRAP -->
<div class="wrap cst03 bgfix ">


  <div class="container lnews">
    Latest news
  </div>


  <div class="masonry">
    <div class="item wt2 ht2">
      <div class="msbox2"><a href="#"><%= image_tag 'update/pic01.jpg', class: 'fhimg2 left' %></a></div>
    </div>
    <div class="item ht2">
      <div class="msbox2">
        <a href="#"><%= image_tag 'update/pic02.jpg', class: 'fhimg' %></a>

        <p class="msctext padding20">
          <span class="newstitle"><a href="#">The Experts in African Safari Travel</a></span><br/><br/>
          Sed auctor erat sit amet lorem venenatis, in feugiat nisl fermentum. Nam luctus adipiscing dapibus. Nunc leo
          felis, ornare non commodo a, elementum a risus.
        </p>
      </div>
    </div>
    <div class="item ">
      <div class="msbox"><a href="#"><%= image_tag 'update/pic03.jpg', class: 'fhimg' %></a></div>
    </div>
    <div class="item ht2">
      <div class="msbox2"><a href="#"><%= image_tag 'update/pic04.jpg', class: 'fhimg' %></a>

        <p class="msctext padding20">
          <span class="newstitle"><a href="#">Velassaru Beach Resort Island Paradise - Maldives</a></span>
          <span class="glyphicon glyphicon-star lblue"></span>
          <span class="glyphicon glyphicon-star lblue"></span>
          <span class="glyphicon glyphicon-star lblue"></span>
          <span class="glyphicon glyphicon-star lblue"></span>
          <span class="glyphicon glyphicon-star lblue"></span>
          <br/><br/>
          Sed auctor erat sit amet lorem venenatis, in feugiat nisl fermentum. Nam luctus adipiscing dapibus. Nunc leo
          felis, ornare non commodo a, elementum a risus.
        </p>
      </div>
    </div>
    <div class="item wt2">
      <div class="msbox">
        <div class="w50percent msctext padding20 left">
          <span class="newstitle"><a href="#">Aquaventure Waterpark and The Lost Chambers Aquarium</a></span><br/><br/>
          Sed auctor erat sit amet lorem venenatis, in feugiat nisl fermentum. Nam luctus adipiscing dapibus. Nunc leo
          felis, ornare non commodo a.
        </div>
        <div class="w50percentlast right">
          <a href="#"><%= image_tag 'update/pic06.jpg', class: 'fwimg' %></a>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="msbox"><a href="#"><%= image_tag 'update/pic05.jpg', class: 'fhimg' %></a></div>
    </div>

  </div>

  <div>
    <br/>
    <br/>
    <br/>
  </div>


  <!-- FOOTER -->

  <div class="footerbg lcfix">
    <div class="container">
      <footer>
        <div class="footer">
          <a href="#" class="social1"><%= image_tag 'icon-facebook.png' %></a>
          <a href="#" class="social2"><%= image_tag 'icon-twitter.png' %></a>
          <a href="#" class="social3"><%= image_tag 'icon-gplus.png' %></a>
          <a href="#" class="social4"><%= image_tag 'icon-youtube.png' %></a>
          <br/><br/>
          Copyright &copy; 2015 <a href="#">Yolllan Travel Agency</a> All rights reserved.
          Site by <a href="http://titanicthemes.com">Binar</a>
          <br/><br/>
          <a href="#top" id="gotop2" class="gotop"><img src="images/spacer.png" alt=""/></a>
        </div>
      </footer>
    </div>
  </div>


</div>
<!-- END OF WRAP -->


<!-- Javascript -->
<%= javascript_include_tag 'homepage.end' %>

</body>
</html>
