<!DOCTYPE html>
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Travel Agency - HTML5 Booking template</title>


  <%= stylesheet_link_tag 'pages.css', media: 'screen' %>

  <!-- Fonts -->
  <link href='http://fonts.googleapis.com/css?family=Lato:400,100,100italic,300,300italic,400italic,700,700italic,900,900italic' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:700,400,300,300italic' rel='stylesheet' type='text/css'>

  <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
      <%= javascript_include_tag 'html5shiv' %>
      <%= javascript_include_tag 'respond.min' %>
  <![endif]-->

  <!--[if lt IE 7]>
  <%= stylesheet_link_tag 'font-awesome-ie7', media: 'screen' %>
  <![endif]-->

  <%= javascript_include_tag 'pages' %>
  <%= yield :css %>

</head>
<body id="top" class="thebg">

<!-- Top wrapper -->
<%= render :partial => 'partials/menu', :layout => 'partials/layouts/pages_header_layout' %>
<!-- /Top wrapper -->


<%= yield %>

<!-- FOOTER -->
<div class="footerbgblack">
  <div class="container">

    <div class="col-md-3">
      <span class="ftitleblack">Let's socialize</span>

      <div class="scont">
        <a href="#" class="social1b"><img src="/assets/icon-facebook.png" alt=""/></a>
        <a href="#" class="social2b"><img src="/assets/icon-twitter.png" alt=""/></a>
        <a href="#" class="social3b"><img src="/assets/icon-gplus.png" alt=""/></a>
        <a href="#" class="social4b"><img src="/assets/icon-youtube.png" alt=""/></a>
        <br/><br/><br/>
        <a href="#"><img src="/assets/logosmal2.png" alt=""/></a><br/>
					<span class="grey2">&copy; 2013  |  <a href="#">Privacy Policy</a><br/>
					All Rights Reserved </span>
        <br/><br/>

      </div>
    </div>
    <!-- End of column 1-->

    <div class="col-md-3">
      <span class="ftitleblack">Travel Specialists</span>
      <br/><br/>
      <ul class="footerlistblack">
        <li><a href="#">Golf Vacations</a></li>
        <li><a href="#">Ski & Snowboarding</a></li>
        <li><a href="#">Disney Parks Vacations</a></li>
        <li><a href="#">Disneyland Vacations</a></li>
        <li><a href="#">Disney World Vacations</a></li>
        <li><a href="#">Vacations As Advertised</a></li>
      </ul>
    </div>
    <!-- End of column 2-->

    <div class="col-md-3">
      <span class="ftitleblack">Travel Specialists</span>
      <br/><br/>
      <ul class="footerlistblack">
        <li><a href="#">Weddings</a></li>
        <li><a href="#">Accessible Travel</a></li>
        <li><a href="#">Disney Parks</a></li>
        <li><a href="#">Cruises</a></li>
        <li><a href="#">Round the World</a></li>
        <li><a href="#">First Class Flights</a></li>
      </ul>
    </div>
    <!-- End of column 3-->

    <div class="col-md-3 grey">
      <span class="ftitleblack">Newsletter</span>

      <div class="relative">
        <input type="email" class="form-control fccustom2black" id="exampleInputEmail1" placeholder="Enter email">
        <button type="submit" class="btn btn-default btncustom">Submit<img src="/assets/arrow.png" alt=""/></button>
      </div>
      <br/><br/>
      <span class="ftitleblack">Customer support</span><br/>
      <span class="pnr">1-866-599-6674</span><br/>
      <span class="grey2">office@travel.com</span>
    </div>
    <!-- End of column 4-->


  </div>
</div>

<div class="footerbg3black">
  <div class="container center grey">
    <a href="#">Home</a> |
    <a href="#">About</a> |
    <a href="#">Last minute</a> |
    <a href="#">Early booking</a> |
    <a href="#">Special offers</a> |
    <a href="#">Blog</a> |
    <a href="#">Contact</a>
    <a href="#top" class="gotop scroll"><img src="/assets/spacer.png" alt=""/></a>
  </div>
</div>

<!-- Javascript -->
<%= yield :endjs %>

<%= javascript_include_tag 'pages.end.js' %>

</body>
</html>
